@import 'theme';

/*** VARIABLES ***/

/*** MIXIN ***/
@mixin button($radius) {
    padding: 17px auto 16px auto;
    border-radius: $radius;  
}

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
.button__base, .button__special {
    padding: 17px 65px 16px 66px;
    border-radius: 10px;
}


/*** HEADER ***/
.header {
    &-navbar {
        padding: 22px 242px 22px 245px;
        height: 72px;
        display: flex;
        justify-content: space-between;
    }
    &-main {
        padding: 196px 242px 112px 245px;
        max-width: 750px;
        & h1 {
            max-width: 548px;
        }
        & p {
            padding: 30px 0;
        }
    }
}

.navbar{
    &-logo {
        width: 220px;
        padding-left: 93px;
    }
    &-menu {
        & ul {
            display: flex;
            justify-content: flex-start;
        }
        & li {
            padding-right: 58px;
        }
        & li:last-child {
            padding-right: 0;
        }
        & .icon {
            display: none;
        }
    }
}


/*** SERVICE ***/
.service {
    text-align: center;
    padding: 95px 242px 192px 245px;
    & h3 {
        margin-bottom: 12px;
    }
    &-box {
        margin-top: 139px;
        display: flex;
        justify-content: space-around;
        &_all {
            padding-top: 86px;
        }
    }
}
.box-service {
    display: block;
    width: 261px;
    padding: 23px 11px;
    text-decoration: none;
    border: { // IT_ Così non c'è spostamento eccessivo legato allo spessore del bordo (sotto era più brutto). | EN_ There is no excessive displacement related to the thickness of the edge (below it is ugly).
        radius: 5px;
        style: solid;
        width: 1px;
        bottom-width: 7px;
    }
    & h4 {
        margin-bottom: 12px;
    }
}


/*** PEOPLE ***/
.people {
    margin: 0 242px 0 245px;
    height: 388px;
    & h3 {
        padding-top: 106px;
        margin-bottom: 16px;
    }
    & p {
        width: 449px;
    }
}


/*** DEMO ***/
.demo {
    margin-top: 109px;
    & h2 {
        width: 553px;
        margin-left: 239px;
        padding: $line-height_h2 0;
    }
    &-video {
        position: relative;
        max-width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}