@import 'main';

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

@media screen and (max-width: $layout-max) {

/*** HEADER ***/
    .header {
        &-navbar {
            padding: 22px 5% 22px 5%;
        }
        &-main {
            padding: 22px 5% 22px 5%;
        }
    }


/*** SERVICE ***/
    .service {
        padding: 95px 5% 192px 5%;
    }


/*** PEOPLE ***/
    .people {
        margin: 0 5%;
    }


/*** FAQ ***/
    .faq {
        padding-left: 5%;
        padding-right: 5%;
        &-col {
            &__1, &__2 {
                width: 48%;
            }
        }
    }


/*** FEATURE ***/
    .feature {
        padding: 0 5% 67px 5%;
        &-boxes {
            padding-left: 15%;
            padding-right: 15%;
        }
        &-testimonials {
            padding-left: 55%;
        }
    }


}


/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/


/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

@media screen and (max-width: $breakpoint) {

/*** HEADER ***/
    .navbar {
        &-logo { 
            max-width: 108px;
            & p { 
                visibility: hidden; 
            }
        }
        &-menu {
            & a {
                display: none;
                &.icon {
                    display: block;
                    padding-right: 10px;
                    position: absolute;
                    right: 5%;
                    top: 22px;
                    line-height: 72px;
                }
            }
            & li {
                padding: 0 10px;
            }
            &.responsive {
                display: block;
                z-index: 10;
                min-width: 200px;
                & ul {
                    flex-direction: column;
                    background: #c4c4c4;
                    padding: 20px 10px;
                    line-height: 35px;
                }
                & a {
                    display: block;
                    color: $color-text_light;
                    &:hover {
                        color: $color-theme_hover1;
                    }
                }
            }
        }
    }


/*** SERVICE ***/
    .service-box {
        flex-direction: column;
        align-items: center;
    }


/*** PEOPLE ***/
    .people {
        text-align: center;
        height: auto;
        background: url('../img/people.png') no-repeat bottom;
        padding-bottom: 388px;
        overflow: hidden;
        & h3 {
            margin-top: 0;
        }
        & p {
            width: 80%;
            margin: 0 auto;
        }
    }


/*** DEMO ***/
    .demo h2 {
        width: 80%;
        margin: 0 auto;
    }


/*** FAQ ***/
    .faq {
        & h2 {
            width: 95%;
        }
        &-col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &__1, &__2 {
                width: 100%;
            }
            &__2 {
                padding-top: 0;
            }
        }
        &__mobile {
            display: none;
        }
    }
    .button__faq-more {
        width: 100%;
        padding: 33px 0 27px 0;
    }


/*** FEATURE ***/
    .feature {
        &-intro {
            width: 90%;
        }
        &-boxes {
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
        }
        &-middle {
            padding-left: 0;
            width: 90%;
        }
        &-testimonials {
            margin: 0 auto;
            padding-left: 0;
            width: 300px;
        }
    }
    .boxes {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        &-box {
            margin-top: 81px;
            width: 300px;
            & p, & img {
                max-width: 95%;
            }
        }
    }
    .testimonial {
        &-slider {
            width: 100%;
        }
        &-single {
            width: 70%;
        }
        &-footer {
            flex-direction: column;
        }
    }




}